#main{
    position: relative;
    width: 1920px;
     /* background-image: url(img/bgc.png); */
}

section-1{
    position: absolute;
    width: 1920px; 
    height: 960px;  
    background: url(img/main-screen__bgc.png);
}

.logo{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80px;
    top: 40px;
    background-image: url(img/logo.png);
}

nav{
    position: absolute;
    width: 745px;
    height: 24px;
    left: 642px;
    top: 48px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    
    /* identical to box height, or 24px */
    text-align: center;  
    color: #FFFFFF;     
    
        display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbI{

    width: auto;
}

#bttn-profile{
/* main-screen__button */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;

position: absolute;
width: 183px;
height: 44px;
left: 1657px;
top: 38px;

/* grad2 */
background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
border-radius: 50px;
}

#tex-bttn-profile{
    position: static;
    width: 150px;
    height: 24px;
    left: 30px;
    padding-top:5px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    
    /* identical to box height, or 24px */
    text-align: center;
    
    /* white */
    color: #FFFFFF;
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#hi-text{
    position: absolute;
    width: 920px;
    height: 180px;
    left: 312px;
    top: 270px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;   
    
    color: white;
}

.timer-frame{
    position: absolute;
    height: 112px;
    left: 312px;
    top: 500px;
    width: 498px ;

    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}
.timer{
    width: 102px;
    color: white;
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.num{
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;

    color:white;
}

.timer-text{
    /* margin-top: auto; */
    justify-content: center;
    width: 100%;
    display: flex;
}